## BUild the docker image
## Push the docker image to docker hub
## ssh into the vm and sart the new image

name: Deploy Backend
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./docker/Dockerfile.backend
        push: true
        tags: trivendra07/todo-app-backend:${{github.sha}}

      ## steps to deploy it on VM
    - name: Deploy to VM
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa\
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@195.35.20.98 << 'EOF'
           docker stop user_backend || true
           docker rm user_backend || true
           docker pull trivendra07/todo-app-backend:${{ github.sha }}
           docker run -d --name user_backend -p 8080:8080 trivendra07/todo-app-backend:${{ github.sha }}
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@195.35.20.98 -t "docker stop user_backend && docker run --name user_backend -d -p 8080:8080 trivendra07/todo-app-backend:${{ github.sha }}"